body {
    font-family: Arial, sans-serif;
    background-color: rgb(254, 254, 251);
    background-image: url("hotel1.jpg");
    background-attachment: fixed;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin :0 ;

}

h2{
   font-size: 50px;
}

.container {
    float: right;
    max-width: 500px;
    margin: 90px;
    padding: 20px;
    border: 2px solid #8fadd4;
    border-radius: 5px;
    background-color: rgba(198, 135, 223, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 

.form-group {
    margin-bottom: 20px;
}
label {
    font-size: 22px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="date"],
select {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 
.form-group button{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.form-group button:hover{
    background-color: black;
}

.form-group textarea{
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}